# DATABASE

DB_HOST=localhost
DB_PORT=3306
DB_NAME=blog
DB_USER=root
DB_PASSWORD=changeme

# ADMIN

ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme

# SERVER

SERVER_PORT=8080

# SECURITY

JWT_SECRET=change_this_secret_key